<h1 class="text-center">Forgot Password</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:password_reset, url: password_reset(params[:id]), method: :patch) do |f| %>
      <%= f.label :password, class: 'label-control' %>
      <%= f.text_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, class: 'label-control' %>
      <%= f.text_field :password_confirmation, class: 'form-control' %>

      <%= f.hidden_field :email, value: params[:email] %>

      <%= f.submit 'Reset password' %>
    <%= end %>
  </div>
</div>