<%= form_for(@video, html: { class: 'form-horizontal' }) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="form-group">
    <%= f.label :youtube_id, 'Youtube ID', class: 'col-sm-1 control-label' %>
    <div class="col-sm-3">
      <%= f.text_field :youtube_id, class: 'form-control', placeholder: "ID" %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-3">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>