<div class="video thumbnail">
  <a href='#' data-toggle="modal" data-target="#videoModal" data-youtube-url="<%= youtube_url(video.youtube_id) %>">
    <%= image_tag video.img %>
  </a>
  <div class="meta">
    <div class="title">
     <%= video.title %>
    </div>
    <span class="uploader"><%= video.youtube_uploader %></span>
    <span class="time"><%= distance_of_time_in_words_to_now(video.uploaded_at) + ' ago' %></span>
  </div>
</div>