<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <%= link_to new_video_path, class: 'btn-success highlight-li' do %>
              <span class="highlight-li"><i class="fa fa-fw fa-plus-circle"></i> Submit a video</span>
            <% end %>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#categories"><i class="fa fa-fw fa-tags"></i> Categories<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="categories" class="collapse">
                <li class="active">
                    <%= link_to 'All', root_path(@params.merge(cat: '')) %>
                </li>
                <li>
                    <%= link_to 'Gunfights', root_path(@params.merge(cat: 'Gunfights')) %>
                </li>
                <li>
                    <%= link_to 'Roleplay', root_path(@params.merge(cat: 'Roleplay')) %>
                </li>
                <li>
                    <%= link_to 'Funny', root_path(@params.merge(cat: 'Funny')) %>
                </li>
                <li>
                    <%= link_to 'Showcase', root_path(@params.merge(cat: 'Showcase')) %>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#date"><i class="fa fa-fw fa-calendar"></i> Date<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="date" class="collapse">
                <li>
                    <%= link_to 'All', root_path(@params.merge(date: '')) %>
                </li>
                <li>
                    <%= link_to 'Today', root_path(@params.merge(date: 'Today')) %>
                </li>
                <li>
                    <%= link_to 'Week', root_path(@params.merge(date: 'Week')) %>
                </li>
                <li>
                    <%= link_to 'Month', root_path(@params.merge(date: 'Month')) %>
                </li>
                <li>
                    <%= link_to 'Year', root_path(@params.merge(date: 'Year')) %>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#duration"><i class="fa fa-fw fa-clock-o"></i> Duration<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="duration" class="collapse">
                <li>
                    <%= link_to 'All', root_path(@params.merge(duration: '')) %>
                </li>
                <li>
                    <%= link_to 'Short (< 4 min)', root_path(@params.merge(duration: 'Short')) %>
                </li>
                <li>
                    <%= link_to 'Medium (> 4 min < 8 min)', root_path(@params.merge(duration: 'Medium')) %>
                </li>
                <li>
                    <%= link_to 'Long (> 10 min)', root_path(@params.merge(duration: 'Long')) %>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#sort-by"><i class="fa fa-fw fa-sort"></i> Sort By<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="sort-by" class="collapse">
                <li>
                    <%= link_to 'All', root_path(@params.merge(sort_by: '')) %>
                </li>
                <li>
                    <%= link_to 'Date', root_path(@params.merge(sort_by: 'Date')) %>
                </li>
                <li>
                    <%= link_to 'Votes', root_path(@params.merge(sort_by: 'Votes')) %>
                </li>
                <li>
                    <%= link_to 'Views', root_path(@params.merge(sort_by: 'Views')) %>
                </li>
            </ul>
        </li>
    </ul>
</div>