<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <% if logged_in? %>
                <%= link_to new_video_path, class: 'btn-success highlight-li' do %>
                  <span class="highlight-li"><i class="fa fa-fw fa-plus-circle"></i> Submit a video</span>
                <% end %>
            <% else %>
                <%= link_to login_path, remote: true, :'data-toggle' => 'modal', 
                                        :'data-target' => '#modal-window',
                                        class: 'btn-success highlight-li' do %>
                        <span class="highlight-li"><i class="fa fa-fw fa-plus-circle"></i> Submit a video</span>
                    <% end %>
            <% end %>

        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#cat"><i class="fa fa-fw fa-tags"></i> Categories<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="cat" class="collapse">
                <li class="active">
                    <%= link_to 'All', '#', val: '' %>
                </li>
                <li>
                    <%= link_to 'Gunfights', '#', val: 'Gunfights' %>
                </li>
                <li>
                    <%= link_to 'Roleplay', '#', val: 'Roleplay' %>
                </li>
                <li>
                    <%= link_to 'Funny', '#', val: 'Funny' %>
                </li>
                <li>
                    <%= link_to 'Showcase', '#', val: 'Showcase' %>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#date"><i class="fa fa-fw fa-calendar"></i> Date<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="date" class="collapse">
                <li class="active">
                    <%= link_to 'All', '#', val: '' %>
                </li>
                <li>
                    <%= link_to 'Today', '#', val: 'Today' %>
                </li>
                <li>
                    <%= link_to 'Week', '#', val: 'Week' %>
                </li>
                <li>
                    <%= link_to 'Month', '#', val: 'Month' %>
                </li>
                <li>
                    <%= link_to 'Year', '#', val: 'Year' %>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#duration"><i class="fa fa-fw fa-clock-o"></i> Duration<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="duration" class="collapse">
                <li class="active">
                    <%= link_to 'All', '#', val: '' %>
                </li>
                <li>
                    <%= link_to 'Short (< 4 min)', '#', val: 'Short' %>
                </li>
                <li>
                    <%= link_to 'Medium (> 4 min < 8 min)', '#', val: 'Medium' %>
                </li>
                <li>
                    <%= link_to 'Long (> 10 min)', '#', val: 'Long' %>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#sort-by"><i class="fa fa-fw fa-sort"></i> Sort By<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="sort-by" class="collapse">
                <li class="active">
                    <%= link_to 'Date', '#', val: 'Date' %>
                </li>
                <li>
                    <%= link_to 'Votes', '#', val: 'Votes' %>
                </li>
                <li>
                    <%= link_to 'Views', '#', val: 'Views' %>
                </li>
            </ul>
        </li>

        <%= form_tag('/', method: :get, remote: true) do %>
            <input type="hidden" name="cat" value="<%= params[:cat] %>">
            <input type="hidden" name="date" value="<%= params[:date] %>">
            <input type="hidden" name="duration" value="<%= params[:duration] %>">
            <input type="hidden" name="sort-by" value="<%= params[:sort_by] %>">
        <% end %>

    </ul>
</div>